h1{
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    color: blue;
    background-color: rgb(209, 206, 206);
}
html{
    background-color: black;
}
ul{
    background-color: aliceblue;
    
}